%h1 Listing Tasks
.field
  .clear
%div.dropdowns
  %table.listing
    %tr
      %th Project
      %th Client
      %th Assignee
    %tr
      %td= collection_select(:project, :id, Project.all, :id, :name, {:prompt => 'Please select Project'},:class => "search_tasks")
      %td= collection_select(:client, :id, Client.all, :id, :name, {:prompt => 'Please select Client'},:class => "search_tasks")
      %td= collection_select(:assignee, :id, User.all, :id, :full_name, {:prompt => 'Please select Assignee'},:class => "search_tasks")
%div#task_table
  = render 'tasks'

= link_to 'New Task', new_task_path