%h1 Listing Client

%table.listing
  %tr
    %th Name
    %th Description
    %th{:width=>"40px"}

  - @clients.each do |client|
    %tr
      %td= link_to client.name,client
      %td= client.description
      %td.edit_link 
        = link_to image_tag('edit_10.png',:border => 0), edit_client_path(client)
        = link_to image_tag('delete_10.png',:border => 0), client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client', new_client_path
