= form_for(@project,:html=>{:class=>"data-form"}) do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this time_entry from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :estimated_budget
    = f.text_field :estimated_budget
  .field
    = f.label :hourly_rate
    = f.text_field :hourly_rate
  
  .field
    = f.label :estimated_hour
    = f.text_field :estimated_hour
  .field
    = f.label :start_date
    = f.text_field :start_date, :class=>"datepicker", :readonly  => true
  .field
    = f.label :end_date
    = f.text_field :end_date, :class=>"datepicker", :readonly  => true
  .field
    = f.label :manager_id
    = collection_select(:project, :manager_id, User.all, :id, :email, {:prompt => 'Please select manager for the project'})
    .clear
  .field
    = f.label :client_id
    = collection_select(:project, :client_id, Client.all, :id, :name, {:prompt => 'Please select client for the project'})
    .clear

  .actions
    = f.submit 'Save'
