%h1 Listing time_entries

%table
  %tr
    %th Name
    %th Start time
    %th End time
    %th Created date
    %th Task
    %th
    %th
    %th

  - @time_entries.each do |time_entry|
    %tr
      %td= time_entry.name
      %td= time_entry.start_time
      %td= time_entry.end_time
      %td= time_entry.created_date
      %td= time_entry.task_id
      %td= link_to 'Show', time_entry
      %td= link_to 'Edit', edit_time_entry_path(time_entry)
      %td= link_to 'Destroy', time_entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Time entry', new_time_entry_path
