!!!
%html
  %head
    %title TimeTracker
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "jquery.ui.datepicker"
    = stylesheet_link_tag    "datepicker"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.ui.core"
    = javascript_include_tag "jquery.ui.widget"
    = javascript_include_tag "jquery.ui.datepicker"
    = csrf_meta_tags
  %body
    .wrapper.container_16
      .header
        .login
          %ul
            - if current_user
              %li
                Logged in as #{current_user.email}
              %li= link_to "Log out", logout_path
            - else
              %li
                = link_to "Sign up", new_account_path
              |
              %li= link_to "log in", login_path
        .menu-bar
          %ul.active_class
            %li
              = link_to "Home", root_path,:class=>current_class("home")
            - if current_user
              %li
                =# link_to "Account", account_path(current_user.account),:class=>current_class("users")
              %li
                = link_to "Account", accounts_path,:class=>current_class("accounts")
                = link_to "Client", clients_path,:class=>current_class("clients")
                = link_to "Project", projects_path,:class=>current_class("projects")
                = link_to "Task", tasks_path,:class=>current_class("tasks")
            -else
              %li
                = link_to "Sign up", new_account_path,:class=>current_class("users")
        .active-line1
      .content.grid_16
        %div{:class => "main-content #{main_content_css_class}"}
          %p.notice= notice
          %p.alert= alert
          = yield
        %div{:class => "sidebar #{sidebar_css_class}"}
          = yield :sidebar
      = clearing_span
      .push
    .container_16.footer
      Footer
